h1 {
    text-align: center;
    font-size: 1em;
    color: #009;
    text-decoration: underline;
  }
  
  table {
    border: 0;
    width: 290px;
  }
  
  th {
    padding: .2em;
  }
  
  td {
    padding-left: .5em;
    padding-right: .5em;
    border: 0;
    background-color: #ffc;
  }
  
  #trHeader {
    text-decoration: underline;
    color: #900;
  }
  
  .centerCell {
    text-align: center;
  }